@import url('http://fonts.cdnfonts.com/css/crete-round');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

.body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
  background: #3c3a39;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.toolbar a {
  width: auto;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  transition: transform 0.5s;
}

.toolbar a:hover {
  transform: scale(1.2);
}

.toolbar img {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.menu-items {
  display: none;
}


.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 90px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: fit-content;
  left: 0;
  top: 92px;
  background: #1c1a19;
  background-image: url(./images/Illustration-header.png);
  background-repeat: no-repeat;
  background-position: -45% -5%;
}

.headline h1 {
  width: 327px;
  height: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -10px;
}

.headline h2 {
  width: 327px;
  height: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -40px;
}

.headline p {
  width: 327px;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -15px;
}

.socials {
  display: flex;
  list-style: none;
}

.title-lang img {
  width: 18px;
  height: 18px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline .socials {
  display: flex;
  order: 3;
  padding-left: 24px;
  padding-right: 24px;
}

.headline .socials img {
  width: 17.99px;
  height: 20px;
  margin-left: 21px;
  transition: transform 0.5s;
}

.headline .socials img:hover {
  transform: scale(1.5);
}

.after-socials {
  order: 5;
  background-image: url(./images/after-socials.png);
  background-size: cover;
  width: 120px;
  height: 300px;
  background-position: right;
  margin-left: 275px;
  margin-top: -160px;
  padding-bottom: 240px;
}

.works-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 80px;
  position: absolute;
  width: 375px;
  height: 3455px;
  left: 0;
  top: 682px;
  background-color: #fff;
  padding-left: 24px;
  padding-right: 24px;
}

.recent-works-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-left: 20px;
  gap: 24px;
  width: 327px;
  height: 107px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;

  /* padding-bottom: -60px; */
  border-bottom: 1px solid #212121;
}

.cards-container {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 24px;
  width: 375px;
  height: 2800px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  width: 375px;
  height: 568px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 20px;
}

.card-1-image {
  width: 327px;
  height: 237px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 307px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-title {
  width: 327px;
  height: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.supporting-text {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.tags li {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags .css {
  width: 49px;
  height: 40px;
}

.tags .html {
  width: 56px;
  height: 40px;
}

.tags .bootstrap {
  width: 95px;
  height: 40px;
}

.tags .ruby {
  width: 61px;
  height: 40px;
}

.see-project-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: fit-content;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
}

.see-project-btn span {
  width: fit-content;
  height: 24px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  width: 375px;
  height: 2000px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.mask-group {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  order: 0;
  width: 327px;
  height: 360px;
  left: 0;
  top: 0;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/MaskImgPlaceholder.png);
  margin-bottom: 20px;
}

.right-bloc {
  display: flex;
  flex-direction: column;
  order: 1;
  align-items: flex-start;
  padding: 8px 16px;

  /* gap: 12px; */

  /* position: absolute; */
  width: 327px;

  /* height: 248px; */
  left: calc(50% - 327px / 2);
}

.title-post {
  width: 295px;
  height: 81px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.other-cards-supporting-text {
  width: 295px;
  height: 87px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.other-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.other-tags .html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 46px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
}

.other-tags .bootstrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: fit-content;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 1;
  flex-grow: 0;
  justify-content: center;
}

.other-tags .ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 45px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 2;
  flex-grow: 0;
  justify-content: center;
}

.action-sec span {
  width: 100px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.get-resume-btn span {
  width: 137px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title-lang span {
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 12px;
}

.get-in-touch span {
  width: 107px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.other-tags li span {
  width: 71px;
  height: 20px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.action-sec {
  display: flex;
  order: 2;
  width: 327px;
  height: 48px;
  background: #ff6b00;
  justify-content: center;
}

.action-sec button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  border: none;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  position: absolute;
  width: 375px;
  height: auto;
  left: 0;
  top: 4200px;
  background: #1c1a19;
  background-image: url(./images/about-bg.png);
  background-repeat: no-repeat;
  background-position: -110% 105%;
  border-bottom: 1px solid #fff;
}

.about-title {
  width: fit-content;
  height: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-description {
  width: 327px;
  height: auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.get-resume-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 2;
  flex-grow: 0;
  border: none;
}

.skills-section {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 375px;
  height: 900px;
  flex: none;
  order: 5;
  flex-grow: 0;
  position: absolute;
  top: 4744px;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
}

.title-lang {
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  width: 186px;
  height: 216px;
  flex: none;
  order: 1;
  flex-grow: 0;
  list-style: none;
}

.lang-list li {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: auto;
  left: 0;
  top: 5630px;
}

.contact-intro-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 216px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-intro-cont p {
  width: 327px;
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.the-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: auto;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: center;
}

.name-div {
  height: 48px;
  left: 0;
  right: 0;
  top: calc(50% - 48px / 2);
  border-bottom: #dbd8d7 solid 1px;
  width: 100%;
  margin-top: 24px;
  margin-left: 36px;
  margin-right: 36px;
}

#name {
  height: 36px;
  width: 100%;
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
  border: none;
  margin-right: 20px;
}

.email-div {
  height: 48px;
  left: 0;
  right: 0;
  top: calc(50% - 48px / 2);
  border-bottom: #dbd8d7 solid 1px;
  width: 100%;
  margin-top: 24px;
  margin-left: 36px;
  margin-right: 36px;
}

#email {
  height: 36px;
  width: 100%;
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
  border: none;
  margin-right: 20px;
}

.message-div {
  height: 114px;
  flex: none;
  order: 2;
  flex-grow: 0;
  width: 100%;
  margin-top: 24px;
  margin-left: 36px;
  margin-right: 36px;
}

#message {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  border: none;
  background: #fbf8f7;
}

.the-form label {
  display: none;
}

.get-in-touch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
  color: #fff;
  margin-top: 26px;
}

.get-in-touch:hover,
.get-resume-btn:hover,
.see-project-btn:hover {
  border: #ff6b00 solid 1px;
  background-color: #fff5e1;
}

.get-in-touch span:hover,
.get-resume-btn span:hover,
.see-project-btn span:hover {
  color: #ff6b00;
}

.action-sec button:hover {
  border: #ff6b00 solid 1px;
  background-color: #fff5e1;
}

.action-sec button span:hover {
  color: #ff6b00;
}

.socials-footer {
  display: flex;
  order: 4;
  list-style: none;
  margin-top: 60px;
  text-align: center;
  margin-left: 24px;
}

.socials-footer li {
  margin-left: 20px;
}

.footer-hr {
  /* position: absolute; */
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  margin-top: -40px;
  background: #0d151e;
  border-radius: 10px;
  order: 5;
}

.fa-brands {
  color: #505f79;
}

.fa-brands .fa-github {
  height: 20px;
  width: 17.985200881958008px;
  left: 0.013671875px;
  top: 0;
  border-radius: 0;
}

.fa-brands .fa-linkedin-in {
  width: 24px;
  height: 24px;
}

.fa-brands .fa-angellist {
  position: absolute;
  left: 14.58%;
  right: 14.58%;
  top: 0%;
  bottom: 0%;
}

.fa-brands .fa-twitter {
  position: absolute;
  left: 0.04%;
  right: 0.03%;
  top: 0.02%;
  bottom: 0%;
}

.fa-brands .fa-meta {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 16.67%;
  bottom: 16.67%;
}

.mobile-menu {
  position: relative;
  width: 375px;
  height: 360px;
  background: #3C3A39;
  color: #fff;
  display: flex;
}

.mobile-menu-view {
  display: none;
}

.popup-toolbar-container {
  position: absolute;
  width: 375px;
  height: 52px;
  left: 0px;
  top: 0px;
}

#popup-cancel {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 30px;
  bottom: 0px;
}

.popup-cancel-span {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 30px;
  right: 24px;
  top: calc(50% - 40px/2);
  border-radius: 8px;
}

.popup-menu-icon {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.popup-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 327px;
  height: 180px;
  left: 24px;
  top: 82px;
  list-style: none;
}

.popup-menu-list li a {
  width: 327px;
  height: 56px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-bottom: #6F6C6B solid 1px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #FFF5E1;
  text-decoration: none;
}

.modal-container {
  position: relative;
  width: 375px;
  height: 817px;
  background: #FFFFFF;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 311px;
  height: 130px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 12px;
  margin-left: 36px;
}

.modal-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 311px;
  height: 82px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal-title-text {
  width: 259px;
  height: 82px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal-cancel-icon {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 10px;
}

.modal-tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 270px;
  height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
  margin-top:-24px;
}

.modal-tags-container .html-tag {
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: fit-content;
    height: 36px;
    border: 1px solid #979493;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.modal-tags-container .bootstrap-tag {
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: fit-content;
    height: 36px;
    border: 1px solid #979493;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.modal-tags-container .ruby-tag {
display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: fit-content;
  height: 36px;
  border: 1px solid #979493;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.modal-img-div {}

.details-modal-picture {
  width: 311px;
  height: 220px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 20px;
}

.modal-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 311px;
  height: 288px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.modal-details-description {
  width: 311px;
  height: 220px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 30px;
}

.modal-action-bar {
  display: flex;
  width: 311px;
  height: 56px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 20px;
}

.modal-btn-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
  width: 134px;
  height: 48px;
  left: 0px;
  top: 4px;
  background: #FF6B00;
  align-items: center;
}

.modal-btn-1 p {
  width: 74px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal-btn-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
  width: 159px;
  height: 48px;
  left: 153px;
  top: 4px;
  background: #FF6B00;
  margin-left: 20px;
  align-items: center;
}


.modal-btn-2 p {
  width: 99px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}



@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }

  .header {
    width: 100vw;
  }

  .toolbar {
    width: 100vw;
  }

  .toolbar a {
    margin-left: 154px;
  }

  .toolbar img {
    display: none;
  }

  .menu-items {
    display: flex;
    list-style: none;
    margin-right: 40px;
  }

  .headline {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    padding: 192px 0;
    gap: 24px;
    position: absolute;
    height: auto;
    left: 0;
    top: 72px;
    background-image: url(./images/Illustration-header.png);
    background-position: bottom 60px right 0;
  }

  .headline h1 {
    width: 566px;
    height: 160px;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    flex: none;
    flex-grow: 0;
    margin-left: 143px;
  }

  .headline h2 {
    width: 566px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    flex: none;
    flex-grow: 0;
    margin-left: 143px;
  }

  .headline p {
    width: 566px;
    height: 123px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    flex-grow: 0;
    margin-left: 143px;
  }

  .socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20px;
    height: 98.96px;
    left: 36px;
    top: 230px;
  }

  .socials li {
    margin-top: 20px;
  }

  .works-main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
  }

  .recent-works {
    width: 100vw;

    /* margin-left: 143px; */
    padding-left: 142px;
    height: auto;
  }

  .recent-works-title {
    width: fit-content;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
  }

  .cards-container {
    width: fit-content;
    height: auto;
  }

  .card {
    display: flex;
    flex-direction: row;
    margin-left: -24px;
  }

  .card-1-image {
    width: 684px;
    height: 448px;
  }

  .card-description {
    gap: 0;
    width: 448px;
    height: 348px;
    margin-left: 100px;
    margin-top: -150px;
  }

  .card-title {
    width: 448px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .supporting-text {
    width: 448px;
    height: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .card-works-container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
    padding-right: 260px;
  }

  .about-me {
    width: 100vw;
    background-image: url(./images/about-bg.png);
    background-position: 100% 30%;
    border-bottom: 1px solid #fff;
    height: auto;
    top: 2400px;
    padding-left: 65px;
  }

  .about-title {
    width: 566px;
    height: 78px;
    line-height: 82px;
    margin-left: 60px;
  }

  .about-description {
    width: 566px;
    font-size: 20px;
    line-height: 32px;
    margin-left: 60px;
  }

  .get-resume-btn {
    margin-left: 60px;
  }

  .skills-section {
    width: 100vw;
    flex-direction: row;
    height: 320px;
    justify-content: space-around;
    top: 2940px;
    border-top: #fff 1px solid;
    padding-top: 250px;
    padding-bottom: 150px;
    padding-left: 68px;
  }

  .title-lang {
    width: 228px;
    font-family: 'Inter', sans-serif;
    display: flex;
  }

  .skill-lang-col {
    margin-left: -65px;
  }

  .contact-form {
    width: 100vw;

    /* margin-left: 142px; */
    display: grid;
    grid-template-columns: auto auto;
    top: 3350px;
    padding-left: 142px;
  }

  .contact-intro-cont {
    grid-column: 1 / span 1;
    width: 455px;
    height: 256px;
  }

  .the-form {
    grid-column: 2 / span 1;
    width: 684px;
    height: 330px;
  }

  .socials-footer {
    grid-column: 1 / span 2;
    justify-content: center;
    margin-top: 80px;
    margin-left: -70px;
  }

  .footer-hr {
    display: none;
  }

  .contact-intro-cont p {
    width: 455px;
    height: 256px;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #262626;
    text-align: left;
  }

  .name-div,
  .email-div,
  .message-div {
    width: 80%;
  }

  #name,
  #email {
    height: 40px;
    width: 80%;
  }

  #message {
    height: 100%;
    width: 100%;
  }

  .get-in-touch {
    align-self: flex-start;
    margin-left: 70px;
  }

  .socials-footer li a i {
    transition: transform 0.5s;
  }

  .socials-footer li a i:hover {
    transform: scale(1.5);
  }
}