@import url('http://fonts.cdnfonts.com/css/crete-round');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
  background: #3c3a39;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.toolbar a {
  width: auto;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.toolbar img {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: auto;
  left: 0;
  top: 92px;
  background: #1c1a19;
  background-image: url(./images/after-socials.png);
  background-repeat: no-repeat;
  background-position: bottom 10px right 0;
}

.headline h1 {
  width: 327px;
  height: 124px;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -10px;
}

.headline h2 {
  width: 327px;
  height: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -40px;
}

.headline p {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -15px;
}

.socials {
  display: flex;
  list-style: none;
}

.title-lang img {
  width: 18px;
  height: 18px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline .socials {
  display: flex;
  order: 3;
  padding-left: 24px;
  padding-right: 24px;
}

.headline .socials img {
  width: 17.99px;
  height: 20px;
  margin-left: 21px;
}

.after-socials {
  order: 5;
  background-image: url(./images/after-socials.png);
  background-size: cover;
  width: 120px;
  height: 300px;
  background-position: right;
  margin-left: 275px;
  margin-top: -160px;
  padding-bottom: 240px;
}

.works-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 80px;
  position: absolute;
  width: 375px;
  height: 3455px;
  left: 0;
  top: 682px;
  background-color: #fff;
  padding-left: 24px;
  padding-right: 24px;
}

.recent-works-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 107px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  padding-bottom: -60px;
  border-bottom: 1px solid #212121;
}

.cards-container {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 24px;
  width: 375px;
  height: 3028px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  width: 375px;
  height: 568px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 120px;
}

.card-1-image {
  width: 327px;
  height: 237px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 307px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-title {
  width: 327px;
  height: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.supporting-text {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.tags li {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags .css {
  width: 49px;
  height: 40px;
}

.tags .html {
  width: 56px;
  height: 40px;
}

.tags .bootstrap {
  width: 95px;
  height: 40px;
}

.tags .ruby {
  width: 61px;
  height: 40px;
}

.see-project-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
}

.see-project-btn span {
  width: 100px;
  height: 24px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  width: 375px;
  height: 2650px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.mask-group {
  /* position: absolute; */
  order: 0;
  width: 327px;
  height: 386px;
  left: 0;
  top: 0;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(./images/MaskImgPlaceholder.png);
  margin-bottom: -24px;
}

.right-bloc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 248px;
  left: calc(50% - 327px / 2);
}

.title-post {
  width: 295px;
  height: 81px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.other-cards-supporting-text {
  width: 295px;
  height: 87px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.other-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.other-tags .html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 46px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
}

.other-tags .bootstrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 55px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 1;
  flex-grow: 0;
  justify-content: center;
}

.other-tags .ruby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 39px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 2;
  flex-grow: 0;
  justify-content: center;
}

.action-sec span {
  width: 100px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.get-resume-btn span {
  width: 137px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title-lang span {
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 12px;
}

.other-tags li span {
  width: 71px;
  height: 20px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.action-sec {
  display: flex;
  width: 327px;
  height: 48px;
  background: #ff6b00;
  justify-content: center;
}

.action-sec button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  border: none;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  position: absolute;
  width: 375px;
  height: 563px;
  left: 0;
  top: 4450px;
  background: #1c1a19;
  background-image: url(./images/Frame.png);
  background-repeat: no-repeat;
  background-position: bottom 130px right 0;
  border-bottom: 1px solid #fff;
}

.about-title {
  width: 327px;
  height: 79px;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-description {
  width: 327px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.get-resume-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.skills-section {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 375px;
  height: 1000.46px;
  flex: none;
  order: 5;
  flex-grow: 0;
  position: absolute;
  top: 5250px;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.title-lang {
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  width: 186px;
  height: 216px;
  flex: none;
  order: 1;
  flex-grow: 0;
  list-style: none;
}

.lang-list li {
  width: 114px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
